@import './src/styles/mixins';
@import './src/styles/variables';

.header {
  background-color: rgb(3, 37, 65);

  .wrapper {
    @include contentWidth;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;

    .search {
      color: #01b4e4;
      font-size: 30px;
      cursor: pointer;
    }

    .navBar {
      display: flex;
      align-items: center;
      gap: 25px;

      img {
        height: 20px;
      }

      span {
        color: #fff;
      }
    }
  }
}
